# Created by venv; see https://docs.python.org/3/library/venv.html

# offensive
./offensive/pentest/host-information.txt
./offensive/pentest/__pycache__
./offensive/pentest/network-information.txt
./offensive/pyvenv.cfg


#defensive
./defensive/venv
defensive/defend/webhookurl.txt
defensive/defend/__pycache__